.navbarwebsite{
    background-color: #7FDD4C;
}
body{
    background-color: #F5F5DC;
}

.btn{
    background-color: #7FDD4C;
    color: white !important;
}

div.centre{
    font-size: 18px;
}

div.linkgame{
    text-decoration: underline;
}

div.network {
    text-decoration: underline;
}

li.logonav{
    margin-left: 5em;
}



@media only screen and (max-width: 640px) {
    .contentbug {
        flex-direction: column;
    }
    .videobug {
        width: 100%;
        height: 100%;
        margin-left: 11px;
        margin-bottom: 2em;
    }

    .descbug {
        margin-top: 5em;
        margin-left: 15px;
    }

    a.backbug{
        margin-left: 15px;
    }
}
@media only screen and (max-width: 800px) {
    .contentbug {
        flex-direction: column;
    }
    .videobug {
        width: 100%;
        height: 200%;
        margin-left: 11px;
        margin-bottom: 2em;
    }

    .descbug {
        margin-top: 18em;
    }
}



