.allbutton{
    flex-direction: column;
    justify-content: end;
}

@media only screen and (max-width: 375px) {
    .bugcontentborder {
        flex-direction: column;
    }
    .buttonpostabug{
        margin-left: 1em;
    }
    .bugofvideo{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
    }
    .allbutton{
        flex-direction: row;
        justify-content: center;
        margin-top: 1em;
    }
    .buttonplacement{
        display: flex;
        align-items: center;
    }
}
@media only screen and (max-width: 800px) {
    .bugcontentborder {
        flex-direction: column;
    }
    .buttonpostabug{
        margin-left: 1em;
    }
    .searchbar{
        margin-top: 1em;
    }
    .bugofvideo{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
    }
    .allbutton{
        justify-content: center;
        flex-direction: row;
        margin-top: 1em;
    }
    .buttonplacement{
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 1000px) {
    .allbutton{
        flex-wrap: wrap;
        padding: initial;
    }
}
