.navbarwebsite{
    background-color: #7FDD4C;
}
body{
    background-color: #F5F5DC;
}

.btn{
    background-color: #7FDD4C;
    color: white !important;
}

div.centre{
    font-size: 18px;
}

div.linkgame{
    text-decoration: underline;
}

div.network {
    text-decoration: underline;
}

.logonav{
    margin-left: 7em;
    height: 8vh;
    width: 8vh;
}
@media only screen and (max-width: 640px) {
    .logonav{
        margin-left: 7em;
        width: 8vh;
        height: 8vh;
    }
    .news{
        flex-direction: column;
    }
    .cardnews{
        margin-bottom: 1em;
    }
}

@media only screen and (max-width: 480px) {
    .logonav{
        margin-left: 4em;
        width: 8vh;
        height: 8vh;
    }
    .news{
        flex-direction: column;
        align-items: center;
    }
    .cardnews{
        margin-bottom: 1em;
    }
    .footer{
        flex-direction: column;
    }
}

@media only screen and (max-width: 320px) {
    .logonav{
        margin-left: 3em;
        width: 8vh;
        height: 8vh;
    }
    .news{
        flex-direction: column;
    }
    .cardnews{
        margin-bottom: 1em;
    }
    .titlegame{
        margin-left: 1em;
    }
    .imageocarina{
        height: 15vh;
        width: 15vh;
    }
    .imagemajora{
        height: 15vh;
        width: 25vh;
    }
}
