.buttonresetpassword{
    width: 25%;
}

@media only screen and (max-width: 640px) {
    .buttonresetpassword{
        width: 100%;
    }
    .textresetpassword{
        text-align: center;
    }
}
@media only screen and (max-width: 800px) {
    .buttonresetpassword{
        width: 100%;
    }
    .textresetpassword{
        text-align: center;
    }
}
